#Directories
__history/
__recovery/
Debug/
Release/
Android/
bin/
packages/**/Win32/
packages/**/Win64/
packages/**/Android/
samples/**/Win32/
samples/**/Win64/
samples/**/Android/

#Files
*.exe
*.dll
*.bpl
*.dcp
*.bpi
*.ini
*.bsc
*.sdf
*.bsc
*.pgm
*.~*
*.dcu
*.local
*.dsk
*.identcache
*.tvsconfig
*.skincfg
*.otares
*.drc
*.jdbg
*.map
*.log
*.tlog
*.lastbuildstate
*.exp
*.ilk
*.lib
*.pdb
*.suo
*.vlb
*.sdf
*.rsm
*.local
*.identcache 
*.cmd
*.stat
*.iobj
*.ipdb
*.db
*.user
*.filters
*.user